.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.header {
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 0 50px;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  background-image: url('https://picsum.photos/1024/820');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 60px;
}
.header div {
  width: 400px;
  height: 400px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.336);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  border-radius: 10px;
}
.header div h2 {
  font-size: 4rem;
}
.header .clasification {
  font-size: 2rem;
  color: var(--secondary_color);
}

.decript {
  font-size: 2.5rem;
}
.header_info {
  font-size: 2rem;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--secondary_color);
}

.header_info a {
  color: var(--text_color);
  text-decoration: none;
  display: block;
}
.top_rated {
  padding: 15px;
  width: 100%;
  height: 360px;
}
.title_sec {
  font-size: 1.5rem;
  color: var(--text_color);
  margin-bottom: 5px;
}
.top_rated .movie_container {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 0 200px;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.top_rated .movie_card {
  min-width: 200px;
  border: 1px solid var(--secondary_color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.top_rated .movie_card img {
  width: 100%;
}
.top_rated .movie_card h2 {
  font-size: 1.6rem;
}
.top_rated .movie_card p {
  font-size: 1.4rem;
  color: var(--secondary_color);
}

.card_overview {
  position: absolute;
  overflow: hidden;
  top: 400px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.557);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.7s ease-in;
}
.movie_card:hover {
  transform: scale(110%);
}
.movie_card:hover .card_overview {
  top: 0;
}
.movie_card .card_overview p {
  color: var(--text_color);
}
.card_overview a {
  font-size: 1.4rem;
  color: var(--text_color);
  padding: 5px;
  text-align: center;
  width: 100%;
  background-color: var(--secondary_color);
  text-decoration: none;
}
