$primary_color: #141414;
$primary_color_dk: darken($primary_color, 50%);
$secondary_color: #f47521;
$secondary_color_dk: darken($secondary_color, 50%);

$text_color: #e5e5e5;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary_color;
  color: $text_color
}
