.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--primary_color);
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;


  #logo {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 4.5rem;
      color: var(--secondary_color);
    }
    .logo_title {
      color: var(--secondary_color);
      font-size: 2.5rem;
      margin-left: 5px;
    }
    .logo_title:hover {
      color: var(--text_color);
    }
  }
  #menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    .block a {
      cursor: not-allowed;
    }
    a {
      color: var(--text_color);
      text-decoration: none;
      padding: 10px;
      font-size: 1.7rem;

      &:hover {
        color: var(--secondary_color);
      }
    }
  }
  .genero_list {
    font-size: 1.7rem;
    position: relative;

    #arrow {
      svg {
        font-size: 2.5rem;
        align-self: center;
      }
    }
    span:hover {
      color: var(--secondary_color);
    }

    .generos {
      position: absolute;
      left: -10%;
      top: -300%;
      width: 300px;
      background-color: #141414a0;
      display: flex;
      visibility: hidden;
      flex-wrap: wrap;
      padding: 10px;
      gap: 5px;
      transition: all 0.3s ease-in;

      div {
        width: 32%;
        font-size: 1.5rem;
        padding: 5px;
        cursor: pointer;
      }

      &.visibl {
        top: 135%;
        visibility: visible;
      }
    }
  }
  .selected {
    background-color: red;
    border-radius: 10px;
  }

  #search {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      color: var(--primary_color);
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
      padding: 3px;
      margin-left: 5px;
      width: 0px;
      height: 25px;
      cursor: none;
      transition: all 0.5s ease-in;

      &:focus {
        outline: none;
      }
      &::placeholder {
        color: var(--secondary_color);
        font-size: 1.5rem;
      }
      &.active {
        width: 150px;
        cursor: pointer;
      }
    }
  }
}
